<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xuxian.marketpro">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="getui.permission.GetuiService.com.xuxian.market" />

    <permission
        android:name="getui.permission.GetuiService.com.xuxian.marketpro"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.bbk.launcher2.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.bbk.launcher2.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.qihoo360.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.qihoo360.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-sdk tools:overrideLibrary="com.facebook.shimmer"/>

    <application
        android:name="com.xuxian.marketpro.presentation.application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/xuxian_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeAnimation"
        tools:replace="android:icon,android:theme"
        >

        <meta-data
            android:name="com.amap.api.v2.apikey"

            android:value="d236edd7e2ee19712358c5137d785a4f" />
        <!--android:value="4f96859a7490d32877f657433b5521ad"-->

        <!--<activity android:name="com.umeng.fb.ConversationActivity" />-->
        <!--<activity android:name="com.umeng.fb.ContactActivity" />-->
        <activity
            android:name=".activity.Splash"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wxbe553a84b2d8aa92" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.store.StoreFragmentActivity"
            android:screenOrientation="portrait" />
        <!--店面详情-->
        <activity
            android:name=".activity.StoreDetailsActivity"
            android:screenOrientation="portrait" />
        <!--tab main-->
        <activity
            android:name=".activity.tab.TabMainFragmentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--分类-->
        <activity
            android:name=".activity.ClassifyActivity"
            android:screenOrientation="portrait" />
        <!--详情-->
        <activity
            android:name=".activity.ClassifyDetailsActivity"
            android:screenOrientation="portrait" />
        <!--登录-->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <!--注册-->
        <activity
            android:name=".activity.RegisteredPhoneCodeActivity"
            android:screenOrientation="portrait" />
        <!--webview-->
        <activity
            android:name=".activity.MessageWebViewActivity"
            android:screenOrientation="portrait" />
        <!--个人信息-->
        <activity
            android:name=".activity.PersonalInformationActivity"
            android:screenOrientation="portrait" />
        <!--xian pin pop-->
        <activity
            android:name=".activity.XianPinPopupActivity"
            android:theme="@style/transparent_activity" />
        <!--附近-详情业务-->
        <activity
            android:name=".activity.tab.forums.activity.ForumListActivity"
            android:screenOrientation="portrait" />
        <!--学校选择-->
        <activity android:name=".activity.SchoolCityActivity" android:screenOrientation="portrait"/>
        <!--我的订单-->
        <activity android:name=".activity.MyOrderActivity" android:screenOrientation="portrait"/>
        <!--splash-->
        <activity android:name=".activity.CityListActivity" android:screenOrientation="portrait"/>
        <!--设置-->
        <activity android:name=".activity.SetActivity" android:screenOrientation="portrait"/>
        <!--高德-->
        <service android:name="com.amap.api.location.APSService" />
    </application>

</manifest>